<section class="about_us" id="about">
    <div class="about_first">
        <p class="about_befor_text">About us</p>
        <H2 class="about_title">Our сraftsmanship: сreating unique handmade furniture</H2>
        <p class="about_text">Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled craftsmanship.</p>
        <ul class="about_list">
            <li class="about_item">
                <h3 class="about_item_title">5+</h3>
                <p class="about_item_text">Years of experience creating handcrafted furniture</p>
            </li>
            <li class="about_item">
                <h3 class="about_item_title">100%</h3>
                <p class="about_item_text">Sustainably sourced materials used in all of our furniture </p>
            </li>
            <li class="about_item">
                <h3 class="about_item_title">500+</h3>
                <p class="about_item_text">Unique furniture designs crafted by our skilled artisans</p>
            </li>
        </ul>
    </div>
    <div class="about_second">
        <picture class="about_img">
            <source srcset="./img/about-us-desktop.jpg 1x, ./img/about-us-desktop-2x.jpg 2x"
                media="(min-width: 1440px)"
                type="image/jpg"/>
            <source srcset="./img/about-us-tab.jpg 1x, ./img/about-us-tab-2x.jpg 2x"
                media="(min-width: 768px)"
                type="image/jpg"/>
            <source srcset="./img/about-us-mob.jpg 1x, ./img/about-us-mob-2x.jpg 2x"
                media="(max-width: 767px)"
                type="image/jpg"/>         
            <img src="./img/about-us-desktop.jpg" alt="about-us" width="536"/>
        </picture> 
    </div> 
</section>