<section class="bestsellers">
  <div class="bs-main">
    <div>
      <picture>
        <source
          srcset="
            ./img/bestsellers-1-desktop.jpg    1x,
            ./img/bestsellers-1-desktop-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/bestsellers-1-tab.jpg    1x,
            ./img/bestsellers-1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/bestsellers-1-mob.jpg    1x,
            ./img/bestsellers-1-mob-2x.jpg 2x
          "
          media="(min-width: 375px)"
        />
        <img
          src="./img/bestsellers-1-tab.jpg"
          alt="The modern platform bed"
          class="bs-img-1"
          width="704"
        />
      </picture>
      <h3>The modern platform bed</h3>
      <p>750$</p>
    </div>
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</section>
