<section class="bestsellers" id="bestsellers">
  <div class="container bs-main">
    <h2 class="bs-title">Bestsellers</h2>
    <div class="bs-wrapper">
      <div class="bs-top">
        <picture class="bs-picture">
          <source
            srcset="
              ./img/bestsellers-1-desktop.jpg    1x,
              ./img/bestsellers-1-desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/bestsellers-1-tab.jpg    1x,
              ./img/bestsellers-1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/bestsellers-1-mob.jpg    1x,
              ./img/bestsellers-1-mob-2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/bestsellers-1-desktop.jpg"
            alt="The modern platform bed"
            class="bs-img-1"
            width="536"
          />
        </picture>
        <h3 class="bs-card-title">The modern platform bed</h3>
        <p class="bs-text">750$</p>
      </div>
      <div class="bs-bottom">
        <ul class="bs-list">
          <li class="bs-list-item">
            <picture class="list-picture">
              <source
                srcset="
                  ./img/bestsellers-2-desktop.jpg    1x,
                  ./img/bestsellers-2-desktop-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-2-tab.jpg    1x,
                  ./img/bestsellers-2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-2-mob.jpg    1x,
                  ./img/bestsellers-2-mob-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                src="./img/bestsellers-2-desktop.jpg"
                alt="The Cozy Lounge Chair"
                class="bs-img-2"
                width="704"
              />
            </picture>
            <h3 class="bs-card-title">The Cozy Lounge Chair</h3>
            <p class="bs-text">230$</p>
          </li>
          <li class="bs-list-item">
            <picture class="list-picture">
              <source
                srcset="
                  ./img/bestsellers-3-desktop.jpg    1x,
                  ./img/bestsellers-3-desktop-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-3-tab.jpg    1x,
                  ./img/bestsellers-3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-3-mob.jpg    1x,
                  ./img/bestsellers-3-mob-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                src="./img/bestsellers-3-desktop.jpg"
                alt="The industrial accent chair"
                class="bs-img-2"
                width="704"
              />
            </picture>
            <h3 class="bs-card-title">The industrial accent chair</h3>
            <p class="bs-text">250$</p>
          </li>
          <li class="bs-list-item hide-mob">
            <picture class="list-picture">
              <source
                srcset="
                  ./img/bestsellers-4-desktop.jpg    1x,
                  ./img/bestsellers-4-desktop-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-4-tab.jpg    1x,
                  ./img/bestsellers-4-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-4-mob.jpg    1x,
                  ./img/bestsellers-4-mob-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                src="./img/bestsellers-4-desktop.jpg"
                alt="The sleek stand"
                class="bs-img-2"
                width="704"
              />
            </picture>
            <h3 class="bs-card-title">The sleek stand</h3>
            <p class="bs-text">300$</p>
          </li>
          <li class="bs-list-item hide-mob">
            <picture class="list-picture">
              <source
                srcset="
                  ./img/bestsellers-5-desktop.jpg    1x,
                  ./img/bestsellers-5-desktop-2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers-5-tab.jpg    1x,
                  ./img/bestsellers-5-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers-5-mob.jpg    1x,
                  ./img/bestsellers-5-mob-2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                src="./img/bestsellers-5-desktop.jpg"
                alt="The minimalist sofa"
                class="bs-img-2"
                width="704"
              />
            </picture>
            <h3 class="bs-card-title">The minimalist sofa</h3>
            <p class="bs-text">650$</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
