<section class="client-container">
    <div class="container">
        <h2 class="title-clients">Clients reviews</h2>
        <ul class="people-list">
            <li class="people-item">
                <div class="">
                    <div class="card-wrap">
                        <img class="image-people" src="./img/clients-1-mob.png" alt="">
                        <div class="name-wrap">
                            <h3 class="name">Alexandra dream</h3>
                            <p class="time-online">1 week ago</p>
                        </div>
                    </div>
                    <div>
                        <p class="review">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
                    </div>
                </div>
            </li>
            <li class="people-item second-review">
                <div>
                    <img src="" alt="">
                    <h3 class="name">James Williams</h3>
                    <p class="time-online">A week ago</p>
                </div>
                <div>
                    <p class="review">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
                </div>
            </li>
            <li class="people-item third-review">
                <div>
                    <img src="" alt="">
                    <h3 class="name">Emily Watson</h3>
                    <p class="time-online">3 week ago</p>
                </div>
                <div>
                    <p class="review">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
                </div>
            </li>
        </ul>
    </div>
</section>