<!-- <section>
    <div class="container">
<h1 class="title">Modern and minimalist <br> furniture for you</h1>
<h1 class="title-1">Modern and <br> minimalist <br> furniture for you</h1>


<ul class="img-list"> -->
    <!-- mob -->
    <!-- <li class="hero-img-1">
        <picture>

            <source
                srcset="
                    ./img/hero-bg-1-desktop.jpg    1x,
                    ./img/hero-bg-1-desktop-2x.jpg 2x"
                    media="(min-width: 1440px)"
                    type="image/jpg"
                    />

            <source
                srcset="
                    ./img/hero-bg-tab-1.jpg 1x
                    ./img/hero-bg-tab-1-2x.jpg 2x"
                    media="(min-width: 768px)"
                    type="image/jpg"
                    />

        <img src="./img/hero-bg-tab-1.jpg" alt="" class="image-hero-1">
    </picture>

    </li>



    <li class="hero-img-2">

            <picture>
                
                <source
                    srcset="
                    ./img/hero-bg-2-desktop.jpg    1x,
                    ./img/hero-bg-2-desktop-2x.jpg 2x"
                    media="(min-width: 1440px)"
                    type="image/jpg"
                    />

                <source
                    srcset="
                    ./img/hero-bg-tab-2.jpg. 1x
                    ./img/hero-bg-tab-2-2x.jpg 2x"
                    media="(min-width: 768px)"
                    type="image/jpg"
                    />

        <img src="./img/hero-bg-tab-2.jpg" alt="" class="image-hero-2">
    </picture>
    </li>

    <li class="hero-img-3">

        <picture>

            <source
                srcset="
                ./img/hero-bg-3-desktop.jpg    1x,
                ./img/hero-bg-3-desktop-2x.jpg 2x"
                media="(min-width: 1440px)"
                type="image/jpg"
                />

          <source
                srcset="./img/hero-bg-mob.jpg 1x, ./img/hero-bg-mob-2x.jpg 2x"
                media="(min-width: 767px)"
                type="image/jpg"
                />


                <div class="button-phone">
                    <p class="under-img-text">Add a touch of elegance to your space <br> with handcrafted furniture pieces</p>
                    <button class="button-title" type="button">Subscribe</button>
                </div>

        <img src="./img/hero-bg-mob.jpg" alt="" class="image-hero-3">
    </picture>

        <div class="text">
            <p class="under-img-text">Add a touch of elegance to your space <br> with handcrafted furniture pieces</p>
            <button class="button-title" type="button">Subscribe</button>
    </div>

    </li>






</ul>

<div class="button-tab">
    <p class="under-img-text">Add a touch of elegance to your space <br> with handcrafted furniture pieces</p>
    <button class="button-title" type="button">Subscribe</button>
</div>



    </div>
</section> -->
<section class="hero">
    <div class="container hero-wrap">

        <div class="main-title-wrap">
            <h1 class="main-title">Modern and minimalist furniture for you</h1>
        </div>

        <div class="hero-subscripe-wrap">
            <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
            <a class="hero-link" href="#subscription">Subscribe</a>
        </div>

    </div>
</section>