<section class="our-products">
    <div class="container">
        <h2 class="our-products__title">OUR PRODUCTS</h2>

        <div class="list-wrapper">
            <ul class="our-products__list">
                <!-- #1 mob only -->
                <li class="our-products__item">
                    <picture>
                        <source srcset="./img/our-products-1-desktop.jpg 1x, ./img/our-products-1-desktop-2x.jpg 2x"
                            media="(min-width: 1440px)" type="image/jpg" />
                        <source srcset="./img/our-products-tab-1.jpg 1x, ./img/our-products-tab-1-2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpg" />
                        <source srcset="./img/our-products-1-mob.jpg 1x, ./img/our-products-1-mob-2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg" />
                        <img src="./img/our-products-1-mob.jpg" alt="Minimalist storage solutions"
                            class="our-products__image" />
                    </picture>
                    <p class="our-products__name">Minimalist storage solutions</p>
                </li>

                <!-- #2 tablet (1+2)-->
                <li class="our-products__item tablet-view">
                    <picture>
                        <source srcset="./img/our-products-2-desktop.jpg 1x, ./img/our-products-2-desktop-2x.jpg 2x"
                            media="(min-width: 1440px)" type="image/jpg" />
                        <source srcset="./img/our-products-tab-2.jpg 1x, ./img/our-products-tab-2-2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpg" />
                        <img src="./img/our-products-tab-2.jpg" alt="Handcrafted minimalist seating"
                            class="our-products__image" />
                    </picture>
                    <p class="our-products__name">Handcrafted minimalist seating</p>
                </li>

                <!-- #3 desktop (1-4) -->
                <li class="our-products__item desktop-view">
                    <picture>
                        <source srcset="./img/our-products-3-desktop.jpg 1x, ./img/our-products-3-desktop-2x.jpg 2x"
                            media="(min-width: 1440px)" type="image/jpg" />
                        <img src="./img/our-products-3-desktop.jpg" alt="Sleek and simple tables"
                            class="our-products__image" />
                    </picture>
                    <p class="our-products__name">Sleek and simple tables</p>
                </li>

                <!-- #4 desktop (1-4) -->
                <li class="our-products__item desktop-view">
                    <picture>
                        <source srcset="./img/our-products-4-desktop.jpg 1x, ./img/our-products-4-desktop-2x.jpg 2x"
                            media="(min-width: 1440px)" type="image/jpg" />
                        <img src="./img/our-products-4-desktop.jpg" alt="Minimalist seating for every space"
                            class="our-products__image" />
                    </picture>
                    <p class="our-products__name">Minimalist seating for every space</p>
                </li>
            </ul>
        </div>
    </div>

</section>