<section class="our-products">
    <div class="container">
        <h2 class="our-products__title">OUR PRODUCTS</h2>

        <ul class="our-products__list">
            <li class="our-products__item">
                <picture>
                    <source srcset="./img/our-products-1-desktop.jpg 1x, ./img/our-products-1-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)" type="image/jpg" />
                    <source srcset="./img/our-products-tab-1.jpg 1x, ./img/our-products-tab-1-2x.jpg 2x"
                        media="(min-width: 768px)" type="image/jpg" />
                    <source srcset="./img/our-products-1-mob.jpg 1x, ./img/our-products-1-mob-2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg" />
                    <img src="./img/our-products-1-mob.jpg" alt="Minimalist storage solutions" width="343"
                        class="our-products__image" />
                </picture>
                <p class="our-products__name">Minimalist storage solutions</p>
            </li>

            <!-- <li class="our-products__item">
                <img src="" alt="Handcrafted minimalist seating" class="our-products__image tablet-view">
                <p class="our-products__name">Handcrafted minimalist seating</p>
            </li>

            <li class="our-products__item">
                <img src="" alt="Sleek and simple tables" class="our-products__image desktop-view">
                <p class="our-products__name">Sleek and simple tables</p>
            </li>

            <li class="our-products__item">
                <img src="" alt="Minimalist seating for every space" class="our-products__image desktop-view">
                <p class="our-products__name">Minimalist seating for every space</p>
            </li> -->
        </ul>
    </div>

</section>