.client-container {
    padding: 36px 0;
    background-color: #F7FAFF;
}
.title-clients {
    text-align: center;
    color: var(--blue-font);
    font-family: var(--main-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    text-transform: uppercase;
    margin-bottom: 30px;
}
.name {
    color: var(--blue-font);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.77; /* 177.778% */
    text-transform: uppercase;
}
.time-online {
    color: var(--blue-font);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
}
.review {
    color: var(--blue-font, #0A224A);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}

.image-people {
    width: 48px;
    height: 48px;
}
.card-wrap {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 24px;
}
.name-wrap {
    display: flex;
    flex-direction: column;
}

.people-item {
    max-width: 343px;
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
}



@media screen and (max-width: 375px){
    .second-review {
        display: none;
    }
    .third-review {
        display: none;
    }
    
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
        max-width: 375px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .second-review {
        display: none;
    }
    .third-review {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }
    .image-people {
        width: 56px;
        height: 56px;
    }
    .client-container {
        padding: 36px 0;
    }
    .third-review {
        display: none;
    }
    .people-list {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
    .people-item {
        max-width: 344px;
        /* height: 319px; */
    }
    .name {
        font-size: 20px;
        line-height: 2.25;
    }
    .time-online {
        font-size: 16px;
        line-height: 1.5;
    }
    .review {
        font-size: 18px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;
    }
    .image-people {
        width: 56px;
        height: 56px;
    }
    .people-list {
        display: flex;
        justify-content: center;
        gap: 23px;
    }
    .people-item {
        max-width: 424px;
        /* height: 306px; */
        padding: 32px;
    }
    .name {
        font-size: 20px;
        line-height: 2.25;
    }
    .time-online {
        font-size: 16px;
        line-height: 1.5;
    }
    .review {
        font-size: 18px;
        line-height: 1.5;
    }
    .client-container {
        padding: 60px 0;
    }
}