.container{
    min-width: 320px;
    outline: 2px solid red;
}
@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
.header-container{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.mobile-menu-list {
    display: none;
}
@media only screen and (min-width: 1440px) {
  .mobile-menu-list {
    display: flex;
    gap: 30px;
  }
}
.burger-btn-open{
    display: flex;
    margin-left: auto;
}
@media only screen and (min-width: 1440px) {
  .burger-btn-open {
    display: none;
  }
}
/* Mobile menu */
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
   
  }
  @media (min-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  }
  @media (min-width: 1440px) {
    .menu-toggle {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-container .menu-toggle {
    position: absolute;
    right: 16px;
    color:#0A224A;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
  }
  .link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color:  #0A224A;
    text-decoration: none;
  }
  .header-mob-container{
    display: flex;
    padding: 40px 32px;
    /* margin-bottom: 114px; */
    margin-bottom: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 211px;
    background-color: #F7FAFF;
  }
  /* // Mobile menu */
.logo-navigation {
   
}
.logo{

}
.menu-open-btn{

}
.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    z-index: 2;
    padding: 36px 16px;
}
.mobile-menu-list {

}
.mob-menu-item {

}
.mob-menu-link {

}

/* .container-mobile {
    margin-left: auto;
    max-height: 32px;
}
.btn_burger {
    margin-top: 28px;
}
.js-open-menu {

}
.burger {

} */

/* Mobile menu */

