img {
    width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subscription_section {
    padding: 64px 0;
}

.container {
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
}

.title_subscription {
    color: var(--blue-font);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.subscription_text {
    font-family: var(--main-font);
    max-width: 343px;
    color: var(--blue-font);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}

.name_input {
    position: relative;
}

.input {
    font-family: var(--main-font);
    width: 100%;
    height: 50px;
    padding: 11px 20px;
    margin-bottom: 20px;
    border: 1px solid var(--dark-grey);
    color: var(--blue-font);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error_icon {
    position: absolute;
    right: 20px;
    transform: translateY(50%);
    fill: transparent;
}

.input:invalid:not(:placeholder-shown) {
    border: 1px solid var(--error);
    outline: transparent;
    color: var(--error);
}

.input:valid:not(:placeholder-shown) {
    border: 1px solid var(--blue-font);
    outline: transparent;
}

.input:invalid:not(:placeholder-shown)+.error_icon {
    fill: var(--error);
}

.input:focus {
    border-color: 1px solid var(--blue-font);
    outline: transparent;
}

.input::placeholder {
    color: var(--light-grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.wrap_checkbox {
    margin-bottom: 30px;
}

.custom_checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid var(--dark-grey);
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.label_text {
    font-family: var(--main-font);
    color: var(--grey);
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.custom_checkbox {
    fill: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + label > .custom_checkbox {
    background-color: var(--blue-font);
    border: 1px solid var(--blue-font);
    fill: #fff;
}

.btn_send {
    color: var(--white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-width: 224px;
    padding: 17px 0;
    background-color: var(--blue-font);
    border: none;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
}

.btn_send:hover {
    background-color: var(--pressed-state); 
}

@media screen and (min-width: 768px) {
    .title_subscription {
        font-size: 32px;
        text-align: left;
        margin-bottom: 30px;
    }

    .subscription_text {
        font-size: 18px;
        margin-bottom: 20px;
        max-width: 536px;
    }

    .name_input {
         max-width: 536px;
    }

    /* .input {
        max-width: 536px;
    } */

    .label_text {
        font-size: 18px;
    }

    .btn_send {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1440px) {
    div.wrap_desktop {
        max-width: 1216px;
    }

    .wrap_desktop {
        display: flex;
        justify-content: space-between;
    }
}