/* файл для змінних(кольори) */
:root {
    --blue-font: #0A224A;
    --pressed-state: #061835;
    --grey: #7A7A7A;
    --dark-grey: #B6B6B6;
    --light-grey: #D9D9D9;
    --light-blue: #F7FAFF;
    --white: #ffffff;
    --error: #E74A3B;
    --accent-font: 'Playfair Display', serif;
    --main-font: 'Roboto', sans-serif;
}

* {
    font-family: var(--main-font);
    font-size: 16px;
}

.box {
    background-color: black;
}

.icon {
    fill: bisque;
}

h1 {
    font-family: var(--accent-font);
}
@media screen and (max-width: 375px){
    .container {
        padding: 0 16px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 375px){
    .container {
        max-width: 375px;
        padding: 0 16px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 60px;
        margin: 0 auto;
    }
}